@inherits LayoutComponentBase
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
                <NavLink class="nav-link" href="pictures">
                    <span class="oi oi-plus" aria-hidden="true"></span> Pictures
                </NavLink>
                <NavLink class="nav-link" href="person">
                    <span class="oi oi-plus" aria-hidden="true"></span> Person
                </NavLink>
                <NavLink class="nav-link" href="event">
                    <span class="oi oi-plus" aria-hidden="true"></span> Event
                </NavLink>
                <NavLink class="nav-link" href="email">
                    <span class="oi oi-plus" aria-hidden="true"></span> Email
                </NavLink>
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
                <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
